<div class="new-question-form-errors"></div>
<%= form_for @question do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :title, class: "question-form-fields-input form-control" %>
</div>
<div class="form-group">
<%= f.label :content %>
<%= f.text_area :content, class: "question-form-fields-textarea form-control" %>
</div>
<%= f.submit %>
<%= f.button "Cancel", id: "new-question-form-cancel-btn"%>
<% end %>
