<div>
<div class="question-field">
  <div class="score-block">
    <%= render partial: 'votes/vote', locals: { votable: @question } %>
  </div>

  <div class="question-content">
  <%= @question.content %>
  </div>
  <div class="question-user">
  <%= @question.user.username %>
  </div>
  <div>

  </div>
</div>

<div class="answer-list">
  <%= render @question.answers %>
</div>

<div class="answer-form">
  <% if current_user %>
    <%= link_to "Answer the Question", new_question_answer_path(@question), id: "post-answer" %>
  <% end %>
</div>
</div>
