<div class="row">
  <div class="question-field">
    <div class="score-block">
      <%= render partial: 'votes/vote', locals: { votable: @question } %>
    </div>

    <div class="">
      <div>
        <h3> <%= @question.title %></h3>
      </div>
      <div class="question-content">
      <%= @question.content %>
      </div>
      <div class="question-user">
        <div class="user-name">
          <%= link_to @question.user.username, user_path(@question.user) %>
        </div>
        <div class="reputation">
          <%= @question.user.reputation %>
        </div>
      </div>

      <div class="comment-list">
        <%= render @question.comments %>
      </div>

      <div class="comment-form-container">
        <% if logged_in? %>
        <a class="add-comment-button" href="#">Add Comment</a>
        <%= render partial: "comments/form", locals: {commentable_class: "Question", commentable_id: @question.id} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="answer-list">
    <%= render @question.answers %>
  </div>

  <div class="answer-form">
    <% if current_user %>
      <%= render partial: "answers/form", locals: {question: @question, answer: Answer.new} %>
    <% end %>
  </div>
</div>
