<div class="question-field">
  <div class="score-block">

  </div>

  <div class="question-content">
  <%= @question.content %>
  </div>
  <div class="question-user">
  <%= @question.user.username %>
  </div>
  <div>

  </div>
</div>

<div class="answer-list">
  <% @question.answers.each do |answer| %>
  <div class="answer-block">
    <div>
    <%= answer.content %>
    </div>
    <div>
      <%= answer.user.username %>
    </div>
    <div class="comment-block">
      <% answer.comments.each do |comment| %>
        <div>
          <%= comment.content %> | <%= comment.user.username %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<div class="answer-form">
<% if current_user %>
  <%= form_tag "/questions/#{@question.id}/answers", id: "new-answer-form" do %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <div>
      <%= label_tag :content %>
      <%= text_area_tag :content, nil, rows: 10, cols: 100 %>
    </div>
    <div>
      <%= submit_tag("Answer") %>
    </div>
  <% end %>

<% end %>
</div>
