<div class="question-field">
  <div class="score-block">

  </div>

  <div class="question-content">
  <%= @question.content %>
  </div>
  <div class="question-user">
  <%= @question.user.username %>
  </div>
  <div>

  </div>
</div>

<div class="answer-list">
  <% @question.answers.each do |answer| %>
  <div class="answer-block">
    <div>
    <%= answer.content %>
    </div>
    <div>
      <%= answer.user.username %>
    </div>
    <div class="comment-block">
      <% answer.comments.each do |comment| %>
        <div>
          <%= comment.content %> | <%= comment.user.username %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
