
<h1 class = "form-signup"> Login! </h1>

<%= form_tag sessions_path, {:class => "form-signup"} do %>

<div>
  <%= label_tag :email %>
  <%= email_field_tag :email, nil, :class => "form-control" %>
</div>

<div>
  <%= label_tag :password %>
  <%= password_field_tag :password, nil, :class => "form-control" %>
</div>

<div>
  <%= submit_tag 'Log in', :class => 'btn btn-lg btn-primary btn-block' %>
</div>

<% end %>

<p class = "form-signup"> Don't have an account? <%= link_to 'Sign Up', signup_path %>