<%= form_for Comment.new, url: "/comments" , html: {style: "display:none;"} do |f|%>
  <h5>Your Comment</h5>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :commentable_id, value: commentable_id %>
  <%= f.hidden_field :commentable_type, value: commentable_class %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :class =>"form-control", :row =>"3" %>
  </div>
  <div>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      Post Comment
    <% end %>
    <%= button_tag(type: "", class: "btn btn-primary cancel") do %>
      Cancel
    <% end %>
  </div>
<% end %>
