<h1> Edit your profile </h1>

<%= form_for @user do |f| %>

<div>
  <%= f.label :username %>
  <%= f.text_field :username, :class => "form-control"  %>
</div>

<div>
  <%= f.label :email %>
  <%= f.email_field :email, :class => "form-control" %>
</div>

<div>
  <%= f.label :password %>
  <%= f.password_field :password, :class => "form-control" %>
</div>

<div>
  <%= f.label :about %>
  <%= f.text_area :about, rows: 8, cols: 50, :class => "form-control" %>
</div>

<div>
  <%= f.label :webiste %>
  <%= f.text_field :website, :class => "form-control" %>
</div>

<div>
  <%= f.label :twitter %>
  <%= f.text_field :twitter, :class => "form-control" %>
</div>

<div>
  <%= f.label :github %>
  <%= f.text_field :github, :class => "form-control" %>
</div>

<div>
  <%= f.submit %>
</div>

<% end %>

<div class = "user-delete-buttion">
<% if current_user.id == @user.id %>
  <%= form_for @user, method: :delete do |f| %>
  <%= f.submit 'Delete account' %>
  <% end %>
<% end %>
</div>