<h1> <%= @user.username.upcase %> </h1>

<div class = "user-edit-link">
<% if current_user %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit profile', edit_user_path(@user) %>
  <% end %>
<% end %>
</div>

<div class = "user-links">
    <h4 class = "user-posts"> <%= @user.questions.count %> questions </h4> 
    <h4 class = "user-posts"> <%= @user.answers.count %> answers </h4>
    <h4 class = "user-posts"> <%= @user.comments.count %> comments </h4>
    <h4> Member since <%= @user.created_at.strftime("%B %d, %Y") %> </h4>
    <h4><div class = "user-reputation">
      <%= @user.reputation %> reputation
    </div></h4>
  <div class = "list-group">
    <% if !@user.website.blank? %><%= link_to 'Website', normalize_url( @user.website ), :class => "list-group-item active" %><% end %>
    <% if !@user.twitter.blank? %><%= link_to 'Twitter', normalize_url( @user.twitter ), :class => "list-group-item active" %><% end %>
    <% if !@user.github.blank? %> <%= link_to 'Github', normalize_url( @user.github ), :class => "list-group-item active" %> <% end %>
  </div>
</div>

<div class = "user-about">
<% if @user.about.blank?  %>
 <h4> Apparently, this user prefers to keep an air of mystery about them.</h4>
<% else %>
  <h4> <%= @user.about %> </h4>
<% end %>
<div>

<h3> Questions </h3>
  <% @user.questions.each do |question| %>
  <div class = "user-questions">
    <%= link_to question.title, question_path(question.id) %> |
    <%= question.created_at.strftime("%B %d, %Y") %>
  </div>
  <% end %>


<h3> Answers </h3>
  <% @user.answers.each do |answer| %>
  <div class = "user-answers">
    <h5> Answer to '<%= answer.question.title %>': </h5>
    <% if answer.content.length > 30 %>
    <%= truncate(answer.content, :length => 30, separator: ' '){ link_to "Continue", question_path(answer.question.id)} %> |
    <% else %>
    <%= answer.content %>...<%= link_to "Continue", question_path(answer.question.id)%> |
    <% end %>
    <%= answer.created_at.strftime("%B %d, %Y") %>
  <div>
  <% end %>

<h3> Comments </h3>
  <% @user.comments.each do |comment| %>
  <div class = "user-comments">
    <%= comment.content %> |
    <%= comment.created_at.strftime("%B %d, %Y") %>
  <div>
  <% end %>


