<div class="answer-block">

  <div class="score-block">
    <%= render partial: 'votes/vote', locals: { votable: answer } %>
  </div>

  <h3>Answer: </h3>
  <div>
  <%= answer.content %>
  </div>
  <div>
    <%= answer.user.username %>
  </div>

  <div class="comment-block">
    <%= render answer.comments %>
    <%= link_to "Add Comment", new_ %>
  </div>
</div>
