<div class="answer-block">
  <div class="score-block">
    <%= render partial: 'votes/vote', locals: { votable: answer } %>
  </div>
  <div class="">
    <div>
      <div class="answer-content">
        <%= answer.content %>
      </div>
      <div class="user-block">
        <%= link_to answer.user.username, user_path(answer.user)%>
      </div>
    </div>

    <div class="comment-list">
      <%= render answer.comments %>
    </div>

    <div class="comment-form-container">
      <% if logged_in? %>
      <a class="add-comment-button" href="#">Add Comment</a>
      <%= render partial: "comments/form", locals: {commentable_class: "Answer", commentable_id: answer.id} %>
      <% end %>
    </div>
  </div>
</div>
