<div id="answer-form">
  <h3>Your Answer </h3>
  <%= form_for [question, answer], id: "new-answer-form" do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, :class => 'form-control', :rows =>"5"%>
    </div>
    <div>
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Submit Answer
      <% end %>
    </div>
  <% end %>
</div>

