<div id="answer-form">
  <%= form_for [question, answer], id: "new-answer-form", html: {style: "display:none;"} do |f|%>
    <h3>Answer: </h3>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, rows: 10, cols: 100 %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>

