<!DOCTYPE html>
<html>
<head>
  <title>Stackoverflowclone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="main-header"><%=link_to "StackOverabundance", root_path%><span class="main-nav-bar"><ul><li><%= link_to "Ask Question", new_question_path %></li></ul></span></h1>
<%= yield %>

</body>
</html>
