<!DOCTYPE html>
<html>
<head>
  <title>StackOverabundance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 class="main-header"><%=link_to "StackOverabundance", root_path, class: "title"%>
  <span class="main-nav-bar">
  <ul>
    <% if logged_in? %>
    <li><%= link_to current_user.username, user_path(current_user.id) %> </li>
    <li><%= link_to 'Logout', logout_path %></li>
    <li><%= link_to "Ask Question", new_question_path, id: "Ask-question-button" %></li>
    <% else %>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Sign up', signup_path %></li>
    <% end %>
  </ul>
</span>
</h1>

<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %>">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

<div class="container">
<div class="main-form-slidedown"></div>
<%= yield %>
</div>



</body>
</html>
